@import "tailwindcss";

:root {
  background-color: #F5F5F7 !important;
  color: #1D1D1F !important;
}

body {
  background-color: #F5F5F7 !important;
  color: #1D1D1F !important;
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "SF Pro Text", "Helvetica Neue", sans-serif !important;
}